.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
}

.add-todo {
    display: inline-block;
}

.add-todo label {
    color: black;
}

.todos {
    display: flex;
    border: 5px solid black;
    border-radius: 5px;
}

.todos button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 auto;
    margin: 10px 10px;
}

.todos button:hover {
    transition: 0s all;
    font-size: 20px;
}

.todo {
    padding-left: 10px;
    padding-right: 10px;
}